body {
    background-color: rgb(163, 216, 216) !important;
    display: flex;
    font-family: 'Roboto';
}

.formulario {
    display:flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-direction: column;
}

input {
    outline: none;
    background-color: rgb(255, 255, 255) !important;
    color: rgb(0, 140, 255) !important;
    border: 1px solid black;
    border-radius: 9px;
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
    height: 50px;
    width: 50%;
}
#calculadora {
    background-color: rgb(237, 238, 236);
    justify-content: center;
    width: 45%;
    margin: auto;
    padding: 10px;
}

button {
    width: 45%;
    margin: 5px 10px !important;
}

.container-button {
}

#resultado {
    height: 50px;
    padding-left: 2px !important;
    padding-right: 2px !important;
    width: 95%;
    margin: auto;
    display: none;
}